/*Глобальные правила*/
* {
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  font-family: sans-serif;
  padding: 0;
  cursor: default; 
}
body {
    background: linear-gradient(to right,rgba(0, 0, 225, 0.1), white);
}
/*-------------------*/

/*Правила игровой площадки*/
.content {
    max-width: 100%;
}
.gameBox {
    
    margin: 0 auto;
/*    width: 90%;*/
    
    margin: 100px 20px 0 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.leftSidebar {
	order: 1;
}
.table1 {
	order: 2;
}
.inspector {
    order: 3;
    width: 300px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
.winInfo {
    order: 4;
    width: 300px;
    transition: 500ms;
    border: 2px solid gray;
    text-align: center;
    align-self: center;
    padding: 20px;
    display: none;
}
.table2{
    order: 5;
}
.rightSidebar {
	order: 6;
}
.rightSidebar, .leftSidebar {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    border: 2px solid gray;
    width: 250px;
    text-align: center;
    padding: 10px;
    padding-left: 70px;
}
.rightSidebar>div {
	flex: 1;
}
.leftSidebar>div {
    flex: 1;
}
.downBar {
    order: 7;
    display: flex;
    flex-flow: row nowrap;
    margin-top: 40px;
    align-items: center;
    width: 100%;
    height: 100px;
}
.downBar>div {
    text-align: center;
	flex: 1;
}
td {
    transition: 150ms;
    width: 35px;
    height: 35px;
    background: transparent; 
}
.secretBlock {
    display: none;
    position: absolute;
    padding: 20px 0;
    background: #f2f2f2;
    text-align: center;
    width: 250px;
    bottom: 20px;
/*    right: -180px;*/
    right: 0;
}
.closeSecret {
	position: absolute;
    top: 0;
    left: 0;
}
.humanWon, .botWon {
	width: 250px;
    border: 2px solid gray;
    position: absolute;
/*    height: 78px;*/
    margin-bottom: 20px;
    text-align: center;
    padding: 15.5px;
}
.humanWon {
	top: 20px;
    right: 20px;
}
.botWon {
	top: 20px;
    left: 20px;
}
.leftSidebar>div>.block, .rightSidebar>div>.block {
	width: 40px;
    height: 40px;
    border: 2px solid gray;
}
.leftSidebar>div, .rightSidebar>div {
	display: flex;
    flex-flow: row nowrap;
}
.leftSidebar div>span, .rightSidebar div>span {
    padding-left: 40px;
    line-height: 40px;
    height: 40px;
}
/*------------------------*/



/*Правила интерфейса*/
.inspector>button {
    cursor: pointer;
    transition: 150ms;
    margin: 20px 0 20px 0;
	width: 200px;
    padding: 20px 0;
    text-align: center;
    background: whitesmoke;
    border: 2px solid gray;
}
button:focus {
    outline: none;
}
.gameBox > div.inspector {
    border: 1px solid blue;
    background: #f2f2f2;
}
.table1, .table2, .inspector, .downBar, .leftSidebar, .rightSidebar, .humanWon, .botWon, .filling {
    transition: 500ms;
}
#mGameBox, #eGameBox {
	   background: rgba(0, 0, 225, 0.2);
}
td, .downBar, .secretBlock {
    border: 2px solid gray;
}
.downBar div>div {
	width: 40px;
    height: 40px;
    border: 2px solid gray;
    margin-left: 110px;
}
.hitBlock>div, .hits>.block{
    background-color: orange;
}
.missBlock div>div, .misses .block>div {
    position: absolute;
    margin: 8px 0 0 8px;
	width: 20px;
    height: 20px;
    background: gray;
}
.missBlock>div, .misses>.block {
	background: rgba(0, 0, 225, 0.2);
}
.killBlock>div, .kills>.block {
	background-color: red;
}
.killBlock>div::after, .hitBlock>div::after, .missBlock>div::after {
    width: 120px;
    margin: 5px 0 0 44px;
    display: block;
    float: left;
}
.hitBlock>div::after {
	content: " - поврежден";
}
.missBlock>div::after {
	content: "- промах";
}
.killBlock>div::after {
	content: " - уничтожен";
}
/*------------------*/



/*Динамические классы*/
.hit {
    background: orange !important; 
}
.miss::after {
    content: "";
    display: block;
    position: relative;
    top: 9px;
    left: 9px;
    width: 15px;
    height: 15px;
    background: gray;
    transition: 150ms;
}
.kill {
    background: red !important; 
}
.live {
    background: lime !important; 
}
.selected {
    background: #8484AD !important;
}
.shadow {
    box-shadow: 4px 4px 10px 0 rgba(0,0,0,.3);
}
.invisible {
    opacity: 0;
}
.none {
    display: none;
}
.j {
    background: lime;
}
.c {
    background: rgba(0,0,0,0.8) !important;
}
.selecting {
    background: rgba(0,0,0,0.4) !important;
}
/*-------------------*/



/*Технические классы*/
.counter {
	position: absolute;
    bottom: 0;
    left: 0;
}
.filling {
    display: flex;
    flex-flow: column wrap;
    position: absolute;
	left: -270px;
	width: 270px;
    height: 372px;
    background: #f2f2f2;
    border: 2px solid blue;
    z-index: 9;
}
.filling>.ship {
    border: 2px solid gray;
    margin-top: 20px;
    margin-left: 30px;
	height: 40px;
    background: lime;
}
.filling>.ship:hover, .direct>div:hover {
	background: rgba(0,128,0, 0.6);
}
.four {
	width: 170px;
}
.three {
	width: 130px;
}
.two {
	width: 87px;
}
.one {
	width: 44px;
}
.four>span {
    display: block;
	width: 45px;
    margin-left: 40px;
    height: 36px;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
}
.four:after {
	content: "";
    display: block;
    width: 2px;
    height: 36px;
    background: gray;
    position: absolute;
    top: 22px;
    left: 158px;
}
.three:after {
	content: "";
    display: block;
    width: 2px;
    height: 36px;
    background: gray;
    position: absolute;
    top: 82px;
    left: 115px;
}
.three:before {
	content: "";
    display: block;
    width: 2px;
    height: 36px;
    background: gray;
    position: absolute;
    top: 82px;
    left: 72px;
}
.two:after {
	content: "";
    display: block;
    width: 2px;
    height: 36px;
    background: gray;
    position: absolute;
    top: 142px;
    left: 72px;
}
.direct {
	width: 200px;
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}
.ver {
	width: 20px;
    height: 40px;
    background: lime;
    border: 2px solid gray;
}
.gor {
    margin-top: 10px;
    margin-left: 25px;
    width: 40px;
    height: 20px;
    background: lime;
    border: 2px solid gray;
}
.autoFilling {
	cursor: pointer;
    transition: 150ms;
	width: 50px;
    float: left;
    margin-left: 30px;
    margin-top: 20px;
    padding: 10px 0;
    text-align: center;
    background: whitesmoke;
    border: 2px solid gray;
}
.removeFill {
	cursor: pointer;
    transition: 150ms;
	width: 50px;
    float: left;
    margin-left: 10px;
    margin-top: 20px;
    padding: 10px 0;
    text-align: center;
    background: whitesmoke;
    border: 2px solid gray;
}
#mGameBox tr>td {
	cursor: cell;
}
.selectedShip {
	background: rgba(0,128,0, 0.6) !important;
}
.start {
    cursor: pointer;
    transition: 150ms;
	width: 100px;
    float: left;
    margin-left: 10px;
    margin-top: 20px;
    padding: 10px 0;
    text-align: center;
    border: 2px solid gray;
}
.disabled {
    color: gray;
}
.need {
	background: rgba(255, 0,0, .2) !important;
}
.lock {
	background: rgba(0,0,0,.3) !important;
}
/*------------------*/

